<section class="invoice">
  <%= react_component "Banner"%>
</section>

<section class="invoice p-0">
  <%= react_component "Content"%>
</section>

<section class="invoice p-0">
  <%= react_component "ListMusic"%>
</section>

