@import 'bootstrap-sprockets';
@import 'bootstrap';
@import '../color';
@import "adminlte";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}
.row{
  p{
    font-size: 25px;
    margin-top: 5px;
  }
}
.col-md-3, .col-md-6{
  p{
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.audio{
  width: 230px;
}
body {
  background-color: $color_desert_storm_approx;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid $color_mercury_approx;
  }
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid $color_mercury_approx;
}
.sidebar ul li a.active {
  background-color: $color_gallery_approx;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: '\f104';
}
.sidebar .active > a > .fa.arrow:before {
  content: '\f107';
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: $color_boston_blue_approx;
}
.btn-success.btn-outline {
  color: $color_fern_approx;
}
.btn-info.btn-outline {
  color: $color_viking_approx;
}
.btn-warning.btn-outline {
  color: $color_casablanca_approx;
}
.btn-danger.btn-outline {
  color: $color_chestnut_rose_approx;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted $color_mountain_mist_approx;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: '\f0de';
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: '\f0dd';
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: '\f0dc';
  float: right;
  font-family: fontawesome;
  color: $mine_shaft_50;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^='col-'] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $color_alto_approx;
  background-color: $color_gallery_approx !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: $color_fern_approx;
}
.panel-green > .panel-heading {
  border-color: $color_fern_approx;
  color: white;
  background-color: $color_fern_approx;
}
.panel-green > a {
  color: $color_fern_approx;
}
.panel-green > a:hover {
  color: $color_goblin_approx;
}
.panel-red {
  border-color: $color_chestnut_rose_approx;
}
.panel-red > .panel-heading {
  border-color: $color_chestnut_rose_approx;
  color: white;
  background-color: $color_chestnut_rose_approx;
}
.panel-red > a {
  color: $color_chestnut_rose_approx;
}
.panel-red > a:hover {
  color: $color_tall_poppy_approx;
}
.panel-yellow {
  border-color: $color_casablanca_approx;
}
.panel-yellow > .panel-heading {
  border-color: $color_casablanca_approx;
  color: white;
  background-color: $color_casablanca_approx;
}
.panel-yellow > a {
  color: $color_casablanca_approx;
}
.panel-yellow > a:hover {
  color: $color_golden_bell_approx;
}
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: $color_gallery_approx;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: ' ';
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: ' ';
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid $color_quill_gray_approx;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px $black_17_5;
  box-shadow: 0 1px 6px $black_17_5;
}
.timeline > li > .timeline-panel:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid $color_celeste_approx;
  border-bottom: 15px solid transparent;
  border-left: 15px solid $color_celeste_approx;
}
.timeline > li > .timeline-panel:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid white;
  border-bottom: 14px solid transparent;
  border-left: 14px solid white;
}
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: white;
  background-color: $color_mountain_mist_approx;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: $color_astral_approx !important;
}
.timeline-badge.success {
  background-color: $color_goblin_approx !important;
}
.timeline-badge.warning {
  background-color: $color_casablanca_approx !important;
}
.timeline-badge.danger {
  background-color: $color_chestnut_rose_approx !important;
}
.timeline-badge.info {
  background-color: $color_viking_approx !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.text-center{
  text-align: center;
}

.icon-unacepted {color: red}
.icon-acepted {color: green}

/*admin lyrics*/

.filterable {
  margin-top: 15px;
  .panel-heading .pull-right {margin-top: -20px;}
  .filters{
    input[disabled] {
      background-color: transparent;
      border: none;
      cursor: auto;
      box-shadow: none;
      padding: 0;
      height: auto;
    }
    input[disabled]::-webkit-input-placeholder {color: $color_mine_shaft_approx;}
    input[disabled]::-moz-placeholder {color: $color_mine_shaft_approx;}
    input[disabled]:-ms-input-placeholder {color: $color_mine_shaft_approx;}
  }
}
.row p {font-size: 15px}
