default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username:
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: music-sharing-app

test:
  <<: *default
  database: music-sharing-app_test

production:
  <<: *default
  database: music-sharing-app_production
  username: music-sharing-app
