$gray-medium-light: #eaeaea;
$color_desert_storm_approx: #f8f8f8;
$color_mercury_approx: #e7e7e7;
$color_boston_blue_approx: #428bca;
$color_fern_approx: #5cb85c;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_chestnut_rose_approx: #d9534f;
$color_mountain_mist_approx: #999999;
$color_goblin_approx: #3d8b3d;
$color_tall_poppy_approx: #b52b27;
$color_gallery_approx: #eeeeee;
$color_quill_gray_approx: #d4d4d4;
$black_17_5: rgba(0, 0, 0, 0.175);
$color_celeste_approx: #ccc;
$color_astral_approx: #2e6da4;
$color_golden_bell_approx: #df8a13;
$color_alto_approx: #ddd;
$mine_shaft_50: rgba(50, 50, 50, 0.5);
$white: #fff;
$color_shark_approx: #242424;
$dark-blue-sky: #0071ae;
$light-600: #039BE5;
$color_red_orange_approx: #ff3425;
$color_star_dust_approx: #9b9b9b;
$color_mine_shaft_approx: #333;
$color_pink_swan_approx: #bbb;
$google-color: #db3236;
$dark-blue-sky: #0071ae;
$light-600: #039BE5;
$google-icon: #dd4b39;
$facebook-icon: #3b5998;
