@import "color";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#css_upload {padding: 1em; background-color: $bg-css-upload;}
.add_author img {width: 200px; height: auto;}
.present_icon {color: $present-icon;}
.add_author a:hover {color: $a-hover; text-decoration: none;}
.input, select, textarea {
  width: 70%;
  height: 40px;
  padding: 0 5px;
  border-radius: 10px;
}
.row_upload {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.col-50 {-ms-flex: 50%; flex: 50%; padding: 0 16px;}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid $input-bd;
  border-radius: 10px;
}
.btn_upload {
  background-color: $bg-btn-upload;
  color: $btn-upload;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn_upload:hover {background-color: $bg-btn-upload-hover;}
@media (max-width: 800px) {
  .row_upload {flex-direction: column-reverse;}
  .col-25 {margin-bottom: 20px;}
}

/*css my song*/

.notice-mysong {
  padding: 15px;
  background-color: $bg-notice-mysong;
  border-left: 6px solid $notice-mysong;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-mysong-warning {border-color: $notice-warning; font-size: 16px;}
.notice-mysong-warning > strong {color: $notice-warning;}

/*my list song*/

.space-botton {margin-bottom: 2px;}
.link-to-song {font-size: 26px; margin-left: 5px;}
.img_my_song {width: 100%; height: 100px;}
.avatar-profile {width: 150px;}
.clearfix {clear:both;}
.rowcolor {background-color: $bg-rowcolor;}
.padall {padding: 5px;}
.icon {font-size:23px; color: $list-song-icon;}
.icon_edit {font-size:16px; color: $list-song-icon-edit;}
.icon_delete {font-size:16px; color: $list-song-icon-delete;}

/*list my albums*/

hr {border: 1px solid $list-album-hr;}
.team {
  .name-album-index {font-size: 22px; height: auto;}
  h2 {font-size: 16px; font-weight: lighter; margin-top: 5px;}
  .img-box { opacity: 1; display: block; position: relative;
    ul {
      position: absolute;
      z-index: 2;
      bottom: 50px;
      text-align: center;
      width: 100%;
      padding-left: 0px;
      height: 0px;
      margin: 0px;
      opacity: 0;
      i {font-size: 20px; letter-spacing: 10px;}
      li {
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid $btn-upload;
        margin: 2px;
        padding: 5px;
        display: inline-block;
      }
      a {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
    }
    a {color: $img-boxs-a;}
  }
  .img-box:after {
    content: "";
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
.team .img-box:after, .img-box ul, .img-box ul li {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.img-box:hover:after {opacity: 0.5;}
.img-box:hover ul {opacity: 1;}
.img-box a:hover li {
  border-color: $bg-img-boxs-a-hover-li;
  color: $img-boxs-a-hover-li;
}
.newalbum {float: right;}

/*view lyric*/

#lyric_close {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lyric_open {width: 100%; height: auto !important;}

/*comments*/

.action-comment {display: none;}
.action-comment2:hover {
  .action-comment {display: block;}
  .action-comment3 {background-color: #D8D8D8;}
}
.add-comment {background-color: #D8D8D8; height: 70px; border-radius: 10px;}
.new_comment {margin-top: 5px;}
.box-widget hr {border: 0.3px solid #858585}
.input-add {height: 40px; font-size: 18px;}
.img-add {width: 40px !important; height: 40px !important;}
.img-push input[type=text] {width: 99%;}
.img-sm + .img-push {margin-left: 55px;}
.bg-color {background-color: gray}
.input-edit input[type=text] {
  border: 1px solid #FACC2E;
  height: 40px;
  font-size: 14px;
}
.edit-comment-fm img {
  width: 40px !important;
    height: 40px !important;
    margin-left: 10px;
}
.trun-comment p {width: 90%; height: auto !important; padding: 0; margin: 0;}
.img-album-100 {height: 100px;}
#myListSong li {list-style-type: none;}
