/*
 * Skin: Blue
 * ----------
 */
.skin-blue .main-header .navbar {
  background-color: #3c8dbc;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-blue .main-header .logo {
  background-color: #367fa9;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #357ca5;
}
.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #222d32;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: #1e282c;
}
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-blue .sidebar-menu .treeview-menu > li.active > a,
.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.skin-blue .main-header .navbar .nav > li > a {
  height: 50px;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#category{
  li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}
.avatar{
  margin:15px;
}
.name{
  font-weight: bold;
  margin:15px;
}
.deep-purple{
  width: 60px;
}
.background-footer{
  background-color: #09c!important;
}
.border-bot-0{border-bottom: 0rem!important;}
.mr-4{margin-right: 1rem;}
.m-0{margin: 0rem;}
.mb-0{margin-bottom: 0rem;}
.mb-1{margin-bottom: 1rem;}
.p-0{padding:0rem!important;}
.pl-0{padding-left: 0rem!important}
.pl-1{padding-left: 1rem!important;}
.pl-5{padding-left: 5rem!important;}
.pr-1{padding-right: 1rem!important;}
.pr-0{padding-right: 0rem!important}
.pb-1{padding-bottom: 1rem!important}
.pb-2{padding-bottom: 2rem!important}
.width-45 {width: 45rem!important;}
.height-40 {height: 40rem!important;}
.height-30 {height: 30rem!important;}
.text-center{text-align: center;}
.white-text {color: #fff;}
.black-text {color: #000}
.fs-10{font-size: 10rem;}
.text-primary {color: #4285f4!important;}
.font-weight-bold{font-weight: bold;}
.owl-nav{text-align: center;}
.invoice {
  border: 0px;
}
.timeline>li>.timeline-item {
    margin-left: 0rem!important;
    margin-right: 0rem!important;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}
.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.rgba-red-strong, .rgba-red-strong:after {
    background-color: rgba(244,67,54,.7);
}
.overlay .mask:hover {
    opacity: 1;
}
.rgba-cyan-strong, .rgba-cyan-strong:after {
    background-color: rgba(103, 130, 134, 0.08);
}
// .play {
//   border: 1px solid;
//   border-radius: 100%;
//   padding: 7px;
// }
.black-text:hover {
  color: #3c8dbc;
}
.dark-grey-text {
    color: #4f4f4f!important;
}

.font-weight-bold {
    font-weight: 700!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pl-0, .px-0 {
    padding-left: 0!important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.single-news {
    border-bottom: 1px solid #e0e0e0;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.info-box-icon {
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 50px;
}
.info-box {
  min-height: 50px;
  box-shadow: none;
}
.nav-tabs-custom {
  box-shadow: none;
}
.nav-tabs-custom > .tab-content {
    padding: 3px;
    min-height: 320px;
}
#grad1 {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}
.hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}
.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}
.info-box-number {
    font-size: 14px;
}
.fa-fw{
  font-size: 25px;
}
.documentation footer {
    padding-left: 0;
}
footer.page-footer {
    bottom: 0;
    color: #fff;
}
.font-small {
    font-size: 1.5rem;
}
.unique-color-dark {
    background-color: #1c2331!important;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}
.text-md-right{
  height: 35px;
  line-height: 35px;
}

.bq-success {
    border-left: 3px solid #9dbee1!important;
}
.blockquote {
    padding: .5rem 1rem;
    border-left: .25rem solid #eceeef;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
blockquote {
    margin: 0 0 1rem;
}
.blue-gradient-1 {
    color: #fff;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.blue-gradient-2 {
    color: #fff;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}
.blue-gradient-3 {
    color: #fff;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

.container-audio {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #77afdf;
    color: #444;
    
    overflow: hidden;   
}
audio {
  width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
    margin: 0;
}
.container-audio .colum1 {
    width: 23px;
    height: 5em;
    border-radius: 5px;
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
}
.container-audio .colum1:last-child {
    margin: 0;
}
.container-audio .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to up, #7700aa, #8800ff);
    position: absolute;
    -webkit-animation: Rofa 10s infinite ease-in-out;
    animation: Rofa 10s infinite ease-in-out;
    bottom: 0;
}
.container-audio .colum1:nth-of-type(1) .row {
    -webkit-animation-delay: 3.99s;
    animation-delay: 3.99s;
}
.container-audio .colum1:nth-of-type(2) .row {
    -webkit-animation-delay: 3.80s;
    animation-delay: 3.80s;
}
.container-audio .colum1:nth-of-type(3) .row {
    -webkit-animation-delay: 3.70s;
    animation-delay: 3.70s;
}
.container-audio .colum1:nth-of-type(4) .row {
    -webkit-animation-delay: 3.60s;
    animation-delay: 3.60s;
}
.container-audio .colum1:nth-of-type(5) .row {
    -webkit-animation-delay: 3.50s;
    animation-delay: 3.50s;
}
.container-audio .colum1:nth-of-type(6) .row {
    -webkit-animation-delay: 3.40s;
    animation-delay: 3.40s;
}
.container-audio .colum1:nth-of-type(7) .row {
    -webkit-animation-delay: 3.30s;
    animation-delay: 3.30s;
}
.container-audio .colum1:nth-of-type(8) .row {
    -webkit-animation-delay: 3.20s;
    animation-delay: 3.20s;
}
.container-audio .colum1:nth-of-type(9) .row {
    -webkit-animation-delay: 3.10s;
    animation-delay: 3.10s;
}
.container-audio .colum1:nth-of-type(10) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(11) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}
.container-audio .colum1:nth-of-type(12) .row {
    -webkit-animation-delay: 2.10s;
    animation-delay: 2.10s;
}
.container-audio .colum1:nth-of-type(13) .row {
    -webkit-animation-delay: 2.20s;
    animation-delay: 2.20s;
}
.container-audio .colum1:nth-of-type(14) .row {
    -webkit-animation-delay: 1.30s;
    animation-delay: 1.30s;
}
.container-audio .colum1:nth-of-type(15) .row {
    -webkit-animation-delay: 1.40s;
    animation-delay: 1.40s;
}
.container-audio .colum1:nth-of-type(16) .row {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s;
}
.container-audio .colum1:nth-of-type(17) .row {
    -webkit-animation-delay: 1.60s;
    animation-delay: 1.60s;
}
.container-audio .colum1:nth-of-type(18) .row {
    -webkit-animation-delay: 1.70s;
    animation-delay: 1.70s;
}
.container-audio .colum1:nth-of-type(19) .row {
    -webkit-animation-delay: 1.80s;
    animation-delay: 1.80s;
}
.container-audio .colum1:nth-of-type(20) .row {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
@-webkit-keyframes Rofa {
  0% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: yellow;
  }

  5% {
      height: 100%;
      -webkit-transform: translatey(15px);
      transform: translatey(15px);
      background-color: fuchsia;
  }
  10% {
      height: 90%;
      transform: translatey(0);
      -webkit-transform: translatey(0);
      background-color: bisque;
  }

  15% {
      height: 80%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  20% {
      height: 70%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
  }
  25% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
  }
  30% {
      height: 70%;
      -webkit-transform: translatey(0);
      transform: translatey(0);
      background-color: cornflowerblue;
  }
  35% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  40% {
      height: 60%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  45% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  50% {
      height: 50%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  55% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  60% {
      height: 40%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  65% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  70% {
      height: 30%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  75% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  80% {
      height: 20%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  85% {
      height: 0%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  90% {
      height: 10%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  95% {
      height: 5%;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
  100% {
      height: 0;
      -webkit-transform: translatey(0);
      transform: translatey(0);

      background-color: cornflowerblue;
  }
}

.body {
    height: 50vh;
    display: grid;
    place-content: center;
    background: linear-gradient(77deg, #1e5799 0%,#7db9e8 100%);
    width: 100%;
}
.body-1 {
    background: linear-gradient(77deg, #607d8b 0%,#7db9e8 100%);
}
.body-2 {
    background: linear-gradient(77deg, #845188 0%,#7db9e8 100%);
}
.body-3 {
    background: linear-gradient(77deg, #1e5799 0%,#7db9e8 100%);
}
.body-4 {
    background: linear-gradient(77deg, #1e5799 0%,#7db9e8 100%);
}
/*responsive*/
@media (max-width: 576px) and (max-width: 768px) {
  .height-40 {height: 20rem!important;}
  .height-30 {height: 10rem!important;}
}
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {  }
